#slider {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 284px,
    
    
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 284px;
    
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #slides .slide_1 {
   color: #C2C2C2;
    background: #fff
    
 }
 #slides .slide_2 {
    background: #F5F4F9;
 }
 #slides .slide_3 {
    background: #5E3DB3;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(1) {
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(1) {
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
   padding: 20px;
    margin: 70px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #D8D8D8;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3) {
    background: #5C3CAF;
 }

 #slider2 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 284px,
    
    
 }
 #slider2 input[type=radio] {
    display: none;
 }
 #slider2 label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides2 {
    padding: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
 }
 #overflow2 {
    width: 100%;
    overflow: hidden;
 }
 #slide2_1:checked ~ #slides2 .inner2 {
    margin-left: 0;
 }
 #slide2_2:checked ~ #slides2 .inner2 {
    margin-left: -100%;
 }
 #slide2_3:checked ~ #slides2 .inner2 {
    margin-left: -200%;
 }
 #slide2_4:checked ~ #slides2 .inner2 {
    margin-left: -300%;
 }
 #slides2 .inner2 {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 284px;
    
 }
 #slides2 .slide2 {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    background: green;
 }
 #slides2 .slide2_1 {
    background: #fff
 }
 #slides2 .slide2_2 {
    background: #F5F4F9;
 }
 #slides2 .slide2_3 {
    background: #090C35;
 }
 #controls2 {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls2 label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls2 label:hover {
    opacity: 1;
 }
 #slide2_1:checked ~ #controls2 label:nth-child(2),
 #slide2_2:checked ~ #controls2 label:nth-child(3),
 #slide2_3:checked ~ #controls2 label:nth-child(1) {
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide2_1:checked ~ #controls2 label:nth-last-child(2),
 #slide2_2:checked ~ #controls2 label:nth-last-child(3),
 #slide2_3:checked ~ #controls2 label:nth-last-child(1) {
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets2 {
   padding: 20px;
   margin: 70px 0 0;
   text-align: center;
 }
 #bullets2 label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #D8D8D8;
    margin: 0 10px;
 }
 #slide2_1:checked ~ #bullets2 label:nth-child(1),
 #slide2_2:checked ~ #bullets2 label:nth-child(2),
 #slide2_3:checked ~ #bullets2 label:nth-child(3) {
    background: #5C3CAF;
 }
 @media screen and (max-width: 900px) {
    #slide2_1:checked ~ #controls2 label:nth-child(2),
    #slide2_2:checked ~ #controls2 label:nth-child(3),
    #slide2_3:checked ~ #controls2 label:nth-child(1),
    #slide2_1:checked ~ #controls2 label:nth-last-child(2),
    #slide2_2:checked ~ #controls2 label:nth-last-child(3),
    #slide2_3:checked ~ #controls2 label:nth-last-child(1) {
       margin: 0;
    }
    #slides2 {
       max-width: 100%;
       margin: 0 auto;
    }
 }